<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Profile</title>
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
</head>
<body>
    <div class="background">
        <div class="leftNavBar">
            <button><i class="fa-duotone fa-user"></i><a href="{{ url_for('teacher_profile') }}">My Profile </a></button>
            <ul>
                <nav>
                    <li><i class="fa-duotone fa-screen-users"></i><a href="{{ url_for('manage_students') }}">Manage Students</a></li>
                    <div class="hr"><hr></div>
                    <li><i class="fa-duotone fa-calendar-users"></i><a href="{{ url_for('teacherTimeTable') }}">Time Table</a></li>
                    <div class="hr"><hr></div>
                    <li><i class="fa-duotone fa-books"></i><a href="{{ url_for('teacher_subject') }}">Subjects</a></li>
                    <div class="hr"><hr></div>
                </nav>
            </ul>
            <div class="edit">
                <button onclick="document.getElementById('fileInput').click()">Add Profile Photo</button>
                <form action="{{ url_for('upload_profile_photo') }}" method="POST" enctype="multipart/form-data" style="display: none;">
                    <input type="file" name="profile_photo" id="fileInput" onchange="this.form.submit()">
                </form>
            </div>
        </div>

        <div class="rightNavBar">
            <div class="wish">Welcome, {{ teacher.F_Name }}!</div>
            <div class="profileCard">
                <div class="profileImage">
                    {% if teacher.Image %}
                        <img src="{{ url_for('download_teacher_image', teacher_id=teacher.Teacher_id) }}" alt="Profile Image" class="image">
                    {% else %}
                        <img src="../../static/default_profile.png" alt="Default Profile Image" class="image">
                    {% endif %}
                </div>
                <div class="profileInfo">
                    <div class="nameBranch">
                        <p class="userName">{{ teacher.F_Name }} {{ teacher.L_Name }}</p>
                        <p class="branch">Associate Professor</p>
                    </div>
                    <div class="boxInfo">
                        <div class="boxDetails"><div class="text">Employee ID <p>{{ teacher.Teacher_id }}</p></div></div>
                        <div class="boxDetails"><div class="text">Technical Skills <p>Associate</p></div></div>
                        <div class="boxDetails"><div class="text">Department <p>{{ teacher.Department_Name }}</p></div></div>
                        <div class="boxDetails"><div class="text">Experience <p>4 yrs</p></div></div>
                    </div>
                </div>
            </div>

            <div class="allInfo">
                <div class="cardInfo">
                    <div class="info">Personal Information</div>
                    <div><div class="detail">First Name: </div><div class="fName gap">{{ teacher.F_Name }}</div></div>
                    <div><div class="detail">Last Name: </div><div class="lName gap">{{ teacher.L_Name }}</div></div>
                    <div><div class="detail">Gender: </div><div class="gender gap">{{ teacher.Gender }}</div></div>
                    <div><div class="detail">Date of Birth: </div><div class="dob gap">{{ teacher.DOB }}</div></div>
                    <div><div class="detail">Phone Number: </div><div class="phno gap">{{ teacher.PHNO }}</div></div>
                    <div><div class="detail">Email: </div><div class="email gap" style="text-transform: lowercase;">{{ teacher.Email }}</div></div>
                </div>
                <div class="cardInfo">
                    <div class="info">Teaching Details</div>
                    <div><div class="detail">Employee ID: </div><div class="fName gap">{{ teacher.Teacher_id }}</div></div>
                    <div><div class="detail">Subjects Taught: </div><div class="lName gap">
                        <ul>
                            {% for course in assigned_courses %}
                            <li>{{ course.Course_Name }}</li>
                            {% endfor %}
                        </ul>
                    </div></div>
                    <div><div class="detail">Classes Assigned: </div><div class="gender gap">
                        <ul>
                            {% for course in assigned_courses %}
                            <li>Semester {{ course.Semester_Number }}, Section {{ course.Section_Name }}</li>
                            {% endfor %}
                        </ul>
                    </div></div>
                    <div><div class="detail">Years of Experience: </div><div class="dob gap">Years</div></div>
                    <div><div class="detail">Qualifications: </div><div class="phno gap">Qualifications List</div></div>
                    <div><div class="detail">Date of Joining: </div><div class="email gap">{{ teacher.Enrollment_Year }}</div></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
